@font-face {
    font-family: 'Switzer';
    src: url('assets/fonts/Switzer-Black.otf') format('opentype');
    font-weight: 900;
}

body {
    display: flex;
    width: flex;
    height: flex;
    min-width: 1126px;
    padding: 50px;
     /*needed to be added*/
    padding-top: 0px;

    flex-direction: column;
    align-items: flex-start;
    gap: 105px;
}

h1 {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Switzer;
    font-size: 128px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    
}

nav a {
    flex: 1 0 0;
    color: #000;
    text-align: center;
    text-shadow: 0 30px 14.2px rgba(0, 0, 0, 0.51);
    font-family: Switzer;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /*needed to be added*/
    text-decoration: none;
}

.media {
    flex: stretch;
    align-self: stretch;
}

/*has to be added so that the image covers the entire container */
.media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
